/*body{
  background-color: #212121;  
}*/

.bgstyle2{
  background-color: white;
  filter: drop-shadow(16px 10px black);
  
} 

.bg-gradient2{
  background: linear-gradient(-45deg, #614385, #516395, #C33764, #1D2671);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.border-round{
  border-radius: 16px;
}

.border-left{
  border-left: solid 1px black;

}

.row{
  background-color: white;
}

.bgblack{
  background-color: #444455;
}

.has-bg-img{
  background: url(../img/Aesthetic.gif) no-repeat fixed;
  background-size: cover;
}

.has-bg-img-2{
  background: url(../img/boxvideo.gif) no-repeat center center fixed;
  background-size: cover;
}

.has-bg-img-3{
  background: url(../img/TCAtest.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-4{
  background: url(../img/bootstrappractical.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-5{
  background: url(../img/TCA2img.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-6{
  background: url(../img/boxvideo2.gif) center center fixed;
  background-size: cover;
  height: 150px;
}

.verytall{
  height:300px;
}

h1{
  font-family: 'Nothing You Could Do', cursive;
}

h2{
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20px;
}

h4{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 15px;
}

.navbar-nav{
  font-family: 'Raleway', sans-serif;
  font-size: 19px
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.OtherInterests, .OtherInterests:link, ab, ab:link{
  color: #FFFFFF;
  background-color: #a083ca;
border-color: purple;
}

.OtherInterests:visited, ab:visited{
  color:#FFFFFF;
  background-color: #7b49c5;
}

.OtherInterests:hover, ab:hover{
  background-color: #767ddb;
  color:white;
}

.btn-yippee, .btn-yippee:link{
  color: white;
  background-color: #D74766;
  border-color: #bf4559;
}

.btn-yippee:hover{
  color: white;
  background-color: #c31f3b;
}

.OtherInterests:visited, ab:visited{
  color:#FFFFFF;
  background-color: #ae6fbe;
}



.bg-prettypink{
  background-color: rgba(255,255,255,0.94);
}
/*aaaa*/
.fancypink{
  color: #B7C3F3;
  font-size: 80px;
  filter: drop-shadow(1px 1px 1px black);
}

#MSLogoStyle{
  width:70px;
  height: auto;
}

#BoxVideo{
  height: 500px;
}


#ProjectsBox{
  height:500px;
}

.imagetexttime{
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prettytitle{
  font-size: 60px;
  font-display: bold;
  color: #680856;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  filter: drop-shadow(16px 16px 10px black);
}

.BtnAboutMe, .BtnAboutMe:link, ab, ab:link{
  color: #FFFFFF;
  background-color: #403dd6;
border-color: #101f8e;
}

.BtnAboutMe:visited, ab:visited{
  color:#FFFFFF;
  background-color: #4979c5;
}

.BtnAboutMe:hover, ab:hover{
  background-color: #0d4177;
  color:white;
}



/*
font-family: 'Nothing You Could Do', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
*/