.has-bg-img{
  background: url(../img/Aesthetic.gif) no-repeat center center fixed;
  background-size: cover;
}

.has-bg-img-2{
  background: url(../img/boxvideo.gif) no-repeat center center fixed;
  background-size: cover;
}

.has-bg-img-3{
  background: url(../img/TCAtest.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-4{
  background: url(../img/bootstrappractical.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-5{
  background: url(../img/TCA2img.png) no-repeat center center fixed;
  background-size: cover;
  height: 150px;
}

.has-bg-img-6{
  background: url(../img/boxvideo2.gif) center center fixed;
  background-size: cover;
  height: 150px;
}

.verytall{
  height:300px;
}

h1{
  font-family: 'Nothing You Could Do', cursive;
}

h2{
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 20px;
}

h4{
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  font-size: 15px;
}

.navbar-nav{
  font-family: 'Raleway', sans-serif;
  padding-left: 400px;
  font-size: 19px
}

.navbar{
  position: fixed;
  top; 0;
  width: 100%;
}

.OtherInterests, .OtherInterests:link, ab, ab:link{
  color: #FFFFFF;
  background-color: #a083ca;

}

.OtherInterests:visited, ab:visited{
  color:#FFFFFF;
  background-color: #C59849;
}

.OtherInterests:hover, ab:hover{
  background-color: #8981c5;
  color:white;
}

.btn-yippee, .btn-yippee:link{
  color: white;
  background-color: #D74766;
}

.btn-yippee:hover{
  color: white;
  background-color: #c31f3b;
}



.bg-prettypink{
  background-color: rgba(255,255,255,0.94);
}

.fancypink{
  color: #B7C3F3;
}

#MSLogoStyle{
  width:70px;
  height: auto;
}

#BoxVideo{
  height: 500px;
}


#ProjectsBox{
  height:500px;
}



font-family: 'Nothing You Could Do', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
